/*STYLES FOR CHROME PLUGIN*/

.btn-convert-xword
{
	position:absolute;
	left:0px;
	top:0px;
	margin:10px;
	padding:10px;
	z-index:10000;
	font-size:2em;
	border:2px solid black;
	border-radius:.2em;
	background-color:white;
	user-select:none;
}

.btn-convert-xword:hover
{
	background-color:#e8e8e8;
}

.PuzTable tr td.bigcircle
{
	position:relative;
	background-image:none;
}

.puz-box
{
	flex:0 0 auto;
	display:flex;
	flex-direction: column;
}

.puz-info
{
	font-size:7pt;
}

.jah-circle
{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	box-sizing:border-box;
	border:1px solid black;
	border-radius:50%;
	opacity:.5;
}

